<ul>
	<li>
		<div class="comments-inner">
			<div class="comment-author"><%= comment.name %> <span><%= time_ago_in_words(comment.created_at) %> ago</span></div>
			<p><%= comment.body %></p>
			<%if user_signed_in?%>
			<p><%= link_to 'Delete', [comment.post,comment],
						method: :delete,
						data: {confirm: 'Are you sure ?'} %> </p>
			<%end%>
		</div>
	</li>
</ul>
