<!-- TWITTERFEED-->
<div class="container">
  <div class="row">
     <div class="col-md-12">
        <div id="twitterfeed">
           <i class="fa fa-quote-left"></i>
           <div id="tweetfeed" class="owl-carousel">
              <div><p>" Il y a 2 types d'entrepreneurs : les créatifs (se basent sur une idée) et les opportunistes (identifient un marché) "<span><a target="blank" href="https://twitter.com/robin24h00">by Patrick ROBIN</a></span></p>
              </div>
              <div><p>" Le prochain Google ou Facebook se fera en France "<span><a target="blank" href="https://twitter.com/Xavier75">by Xavier Niel</a></span></p>
              </div>
              <div><p>" Because the pepople who are crazy enough to think they can change the world are the ones who do "<span><a target="blank" href="http://fr.wikipedia.org/wiki/Steve_Jobs">by Steave JOBS</a></span></p>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
<div class="container footer" data-animated="0">
    <div class="row">
        <div class="col-md-12">
            <footer>
                <div class="col-md-6">
                        <p>&copy; 2015 Linda LOR. All Rights Reserved</p>
                    </div>
             </footer>
        </div>
    </div>
</div>
