<div class="col-md-3 ts-main-right">
    <!-- SIDEBAR -->
    <div class="row">
        <aside class="col-md-12">
            <div class="side-content side-contact">
                <%=image_tag("/images/linda_lor.png", class: "img-circle linda center-block")%>
                <p class="text-center">Linda LOR</p>
                <p class="text-center">Web developer et web analyst</p>
            </div>
            <!-- technique skills -->
            <div class="side-content rposts">
                <h5>Technique</h5>

                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                        <span class="sr-only">90% Complete</span>
                    </div>
                    <span class="progress-type">HTML 5 / CSS 3</span>
                    <span class="progress-completed">90%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">90% Complete (danger)</span>
                    </div>
                    <span class="progress-type">CSS 3 / Less</span>
                    <span class="progress-completed">90%</span>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                        <span class="sr-only">78% Complete (success)</span>
                    </div>
                    <span class="progress-type">PHP 5</span>
                    <span class="progress-completed">78%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70% Complete (info)</span>
                    </div>
                    <span class="progress-type">jQuery</span>
                    <span class="progress-completed">70%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90% Complete (danger)</span>
                    </div>
                    <span class="progress-type">Bootstrap</span>
                    <span class="progress-completed">90%</span>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
                        <span class="sr-only">78% Complete (warning)</span>
                    </div>
                    <span class="progress-type">Ruby On Rails</span>
                    <span class="progress-completed">78%</span>
                </div>

                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70% Complete (info)</span>
                    </div>
                    <span class="progress-type">Laravel</span>
                    <span class="progress-completed">70%</span>
                </div>
            </div>

            <!-- marketing skills -->
            <div class="side-content">
                <h5>Marketing</h5>
                <div class="row">
                    <div class="col-md-3 skill">
                        <figure>    
                            <%=image_tag("/images/skill/seo.png", class: "img-circle marketing_skills")%>
                            <figcaption class="text-center"> SEO </figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 skill">
                        <figure>
                            <%=image_tag("/images/skill/web_analyst.png", class: "img-circle marketing_skills")%>
                            <figcaption class="text-center"> Web analytique</figcaption>
                        </figure>
                    </div>
                    <div class="col-md-3 skill">
                        <figure>
                            <%=image_tag("/images/skill/cm.png", class: "img-circle marketing_skills")%>
                            <figcaption class="text-center"> CM </figcaption>
                        </figure>
                    </div>
                </div>  
            </div>

            <!-- Tags -->
            <div class="side-content m-tags">
                <h5>Gestion de projet</h5>
                <ul>
                    <li>Cahier des charges</li>
                    <li>Relation client</li>
                    <li>Force de propositions</li>
                    <li>Méthode agile</li>
                    <li>Motivation d'équipe</li>
                </ul>
            </div>


        </aside>
    </div>
</div>